body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    /*width: 100vw;*/
    margin: 0;
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

a.add-poi {
    position: absolute;
    background: rgba(0, 116, 217, 0.83);
    border: 2px solid #055ed9;
    color: #ffdd51;
    text-decoration: none;
    bottom: 25px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    border-radius: 30px;
}

.add-poi-content {
    background-color: #0074d9;
    width: 300px;
    height: 200px;
    overflow: hidden;
    z-index: 9000;
    border-radius: 25px;
}

.add-btn {
    position: absolute;
    bottom: 205px;
    left: 300px;
    width: 100px;
    overflow: hidden;
    z-index: 9000;

}

ul {
    padding: 5px;
    margin: 5px;
    text-align: center;
    list-style: none;
}

.add-poi-content-text {

    align-items: center;
    justify-content: center;
    /*background-color: #f0d;*/
    border: 1px solid #858585;
    margin: 10px;
    border-radius: 30px;
    width: 60px;
    height: 60px;

}

.poi-text {
    width: 50px;
    height: 50px;
    background-color: #a8060e;
    display: table-cell;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/*
.container {padding:20px;}
.form-control {width:120px;}
.popover {max-width:400px;}
*/
#asezari_btn {
    background-image: url(images/poi_buttons/fishhut.png);
}

#colonii_btn {
    background-image: url(images/poi_buttons/birds.png);
}
#lansare_btn {
    background-image: url(images/poi_buttons/lansare.png);
}
#camping_btn {
    background-image: url(images/poi_buttons/camping.png);
}
#pescuit_btn {
    background-image: url(images/poi_buttons/fishing.png);
}
#vegetatie_btn {
    background-image: url(images/poi_buttons/vegetatie.png);
}
#colmatat_btn {
    background-image: url(images/poi_buttons/stop.png);
}
#apascazuta_btn {
    background-image: url(images/poi_buttons/water.png);
}
#blocaj_btn {
    background-image: url(images/poi_buttons/tree.png);
}
/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff8907;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
.jumbotron{
    margin-right: 10px;
    padding:5px;;
}
.jumbotron p{
    margin:0;
}
.jumbotron ul{
    margin:0;
    padding:0;
}
.list-group-item{
    padding: 1px;
}
section{
    padding:0;
}