[uwsgi]
socket = {{ uwsgi_socket }}
master = true
processes = 4
max-requests = 1000
harakiri = 30
post-buffering = 8192
reaper = true
env = DJANGO_SETTINGS_MODULE={{ uwsgi_django_settings }}
module = {{ uwsgi_module }}
venv = {{ uwsgi_venv }}
uid = {{ site_app_user }}
pythonpath = {{ site_repo_root }}
pythonpath = {{ site_repo_root }}/{{ site_repo_name }}/apps
{% if ENV == "development" %}
    python-autoreload = 2
{% endif %}
