[program:uwsgi]
command = uwsgi --ini {{ uwsgi_config_file }}
autostart = true
autorestart = true
redirect_stderr = true
stopsignal = QUIT

[supervisord]
logfile = {{ project_log_path }}/supervisord.log
logfile_maxbytes = 10MB
logfile_backups = 5
loglevel = info
pidfile = {{ supervisor_pid_file }}
user = {{ app_user }}

[supervisorctl]
serverurl = unix:/{{ supervisor_sock_file }}

[unix_http_server]
file = {{ supervisor_sock_file }}
chmod = 0777

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
