<ul>
    <li class="mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                Scară hartă
            </div>
            <div class="col">
                <input id="scara_harta" type="checkbox"  data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger">
            </div>
        </div>
    </li>
    <li class="mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                Control Zoom
            </div>
            <div class="col">
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger">
            </div>
        </div>
    </li>
    <li class="mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                Permite rotație
            </div>
            <div class="col">
                <input type="checkbox" data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger">
            </div>
        </div>
    </li>
    <li class="mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                Busolă
            </div>
            <div class="col">
                <input type="checkbox" data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger">
            </div>
        </div>
    </li>
    <li class="mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                Unități de măsură
            </div>
            <div class="col">
                <div id="radioBtn" class="btn-group">
                    <a class="btn btn-success btn-sm active" data-toggle="units"
                       data-title="Y">Km</a>
                    <a class="btn btn-danger btn-sm notActive" data-toggle="units"
                       data-title="N">Miles</a>
                </div>
                <input type="hidden" name="happy" id="units">
            </div>
        </div>
    </li>
</ul>