{% raw %}
<div class="row">
    <div class="col-xs-12 ">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-cote-tab" data-toggle="tab" href="#nav-cote" role="tab"
                   aria-controls="nav-cote" aria-selected="true">Cotele apelor Dunării</a>
                <a class="nav-item nav-link" id="nav-jurnal-tab" data-toggle="tab" href="#nav-jurnal" role="tab"
                   aria-controls="nav-jurnal" aria-selected="false">Jurnal de bord</a>
                <a class="nav-item nav-link" id="nav-planificator-tab" data-toggle="tab" href="#nav-planificator" role="tab"
                   aria-controls="nav-planificator" aria-selected="false">Planificator de ture</a>
                <a class="nav-item nav-link" id="nav-urgenta-tab" data-toggle="tab" href="#nav-urgenta" role="tab"
                   aria-controls="nav-urgenta" aria-selected="false">In caz de urgență</a>
            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-cote" role="tabpanel" aria-labelledby="nav-cote-tab">
                 {% include "DDGraph.html" %}
            </div>
            <div class="tab-pane fade" id="nav-jurnal" role="tabpanel" aria-labelledby="nav-jurnal-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
                non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                occaecat anim ullamco ad duis occaecat ex.
            </div>
            <div class="tab-pane fade" id="nav-planificator" role="tabpanel" aria-labelledby="nav-planificator-tab">

{#                {% include "ture.html" %}#}

            </div>
            <div class="tab-pane fade" id="nav-urgenta" role="tabpanel" aria-labelledby="nav-urgenta-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
                non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                occaecat anim ullamco ad duis occaecat ex.
            </div>
        </div>

    </div>
</div>
{% endraw %}