server {
    server_name project_name.com;
    return 301 $scheme://www.project_name.com$request_uri;
}

server {
    listen 80;
    server_name www.project_name.com;
    access_log /var/log/nginx/project_name.access.log;
    error_log /var/log/nginx/project_name.error.log;

    client_max_body_size 20M;

    location / {
        uwsgi_pass unix:///PATH/TO/FILE.SOCK;
        include uwsgi_params;
    }

    location /static {
        alias /PATH/TO/STATIC_FILES/;
    }
}
