# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Local settings file:
{{ cookiecutter.repo_name }}/settings/local.py

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

# Vagrant directory:
.vagrant

# External Ansible roles:
ansible/roles/ansible-*
