# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

# Vagrant directory:
.vagrant

# External Ansible roles:
ansible/roles/ansible-*

# Local .env file:
.env
