# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# Vagrant directory:
.vagrant

# External Ansible roles:
ansible/roles/ansible-*

# Local .env file:
.env
